.button-add {
  margin: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;

  color: #fff;
  background-color: $base-color;

  border-radius: 2px;
  border: none;
  transition: all .6s;
  &:hover {
    color: #000;
    background-color: #fff;
  }
}