<section>
<div class="row flex">
  <div class="large-8 column">
    <h1>Finance life stream</h1>
    <div class="finance flex"></div>
  </div>
  <div class="large-3 columns">
    <div class="row collapse flex">
      <div class="large-2 column">Add</div>
      <div class="large-5 column text-center">
        <button class="button-add">BANK</button>
      </div>
      <div class="large-5 column text-center">
        <button class="button-add">PAYMENT</button>
      </div>
    </div>
    <div class="row collapse ">
      <div class="large-7 column text-right">Accounts analysys</div>
      <div class="large-5 column text-center">
        <div class="switch">
          <input class="switch-input" id="exampleSwitch" type="checkbox" name="exampleSwitch">
          <label class="switch-paddle" for="exampleSwitch">
            <span class="show-for-sr">Download Kittens</span>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
</section>