.account {
  p {
    margin: 0;
  }
  .wrapper {
    &.flex {
      align-items: flex-start;
    }
    & > * {
      flex-basis: 48%;
    }
  }
}

@media screen and (max-width:800px) {
  .account {
    .wrapper {
      flex-wrap: wrap;
      & > * {
        flex-basis: 90%;
      }
      &.flex {
        justify-content: space-around;
      }
    }
  }
}