.menu {
  height: 100%;
  .menu-item {
    flex-flow: column;
    padding: 1rem;
    img {
      width: 3.5rem;
    }
    p {
      margin: 0;
    }
    &:hover {
      background-color: #000;
    }
  }
}

@media screen and (max-width: 800px) {
  .menu {
    flex-flow: row wrap;
    .menu-item {
      &.flex {
        flex-basis: 50%;
      }
    }
  }
}
