<section>
    <div class="finance">
        <div class="wrapper flex">
            <!--Finance Component-->
            <div class="finance-stream"></div>
            <!-- -->
            <div class="finance-panel text-right flex">
                <div>
                    <span>Add</span>
                    <button class="button-add">BANK</button>
                    <button class="button-add">PAYMENT</button>
                </div>
                <div class="flex">
                    <span>Accounts analysys</span>
                    <span class="switch">
                    <input class="switch-input" id="chartSwitch" type="checkbox" name="exampleSwitch" checked>
                    <label class="switch-paddle" for="chartSwitch"></label>
                </span>
                </div>
            </div>
        </div>
    </div>
</section>