<!--Mobile menu visible only below 1000px-->
<div class="mobile-menu text-right">
    <button id="mobile-menu" class="button-add">MENU</button>
</div>
<!-- --------------- -->

<div class="header">
    <div class="wrapper flex">
        <div class="header-credits flex">
            <img src="../assets/img/logo.png" alt="Efigence Logo">
            <img src="../assets/img/avatar.png" alt="Avatar">
            <div class="user-panel">
                {{> user-panel}}
            </div>
        </div>
        <div class="menu flex">
            {{> menu}}
        </div>
        <div class="logout">
            {{> logout}}
        </div>
    </div>
</div>

