<div class="header">
  <div class="row collapse">
    <div class="large-4 columns flex menu">
      <div class="large-3 columns no-padding text-center">
        {{> logo}}
      </div>
      <div class="large-3 columns no-padding text-center">
        {{> avatar}}
      </div>
      <div class="large-6 columns">
        {{> user-panel}}
      </div>
    </div>
    <div class="large-4 large-push-1 columns menu flex">
      {{> menu}}
    </div>
    <div class="large-1 columns vertical-middle menu">
      {{> logout}}
    </div>
  </div>
</div>

